@import url('https://fonts.cdnfonts.com/css/poppins');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}


/* Spinner styles (DON'T MODIFY) */
.lds-dual-ring {
  display: inline-block;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  border-radius: 50%;
  border: solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* OTP styling */
input[aria-label="Please enter verification code. Character 1"],
input[aria-label="Character 2"],
input[aria-label="Character 3"],
input[aria-label="Character 4"],
input[aria-label="Character 5"] {
  width: 50px !important;
  height: 60px !important;
  border: 2px solid #0ea5e9;
  margin: 0 5px;
  border-radius: 5px;
  background-color: transparent;
}

input[aria-label="Please enter verification code. Character 1"]:focus,
input[aria-label="Character 2"]:focus,
input[aria-label="Character 3"]:focus,
input[aria-label="Character 4"]:focus {
  outline: 2px solid #3E4095;
  border: none;
}